.header {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #253898;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header__logo {
    width: 100px;
    /* object contain would never make changes in the logo even if the website is repsonsive */
    object-fit: contain;
    margin: 0 30px;
    margin-top: 18px;
  }
  .header__search {
    display: flex;
    /* flex giving more priority to search header so it took the maximum part */
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  
  .header__searchInput {
    height: 2px;
    padding: 15px;
    border: none;
    width: 100%;
  }
  
  .header__searchIcon {
    padding: 5px;
    height: 30px !important;
    width: 5px;
    background-color: #FF9347;
  }
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header__optionLineOne {
    font-size: 10px;
    text-decoration: none;
    
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    text-decoration: none;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }